@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  font-size: 60px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 20px;
}

p{
  font-size: 18px;
}

@media (max-width: 600px){
  h1{
    font-size: 43px;
  }
  
  h2{
    font-size: 36px;
  }
  
  h3{
    font-size: 26px;
  }
  
  h4{
    font-size: 18px;
  }
  
  p{
    font-size: 16px;
  }
}

input[type="radio"] {
  width: 28px;
  height: 28px;
  border: 2px solid #000;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="radio"]:not(:checked) {
  background-color: #fff;
  border: 1px solid #000;
}

input[type="radio"]:checked {
  background-color: #fff;
  border: 1px solid #000;
}

input[type="radio"]:checked::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #b9ff66;
  border-radius: 50%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(185, 255, 102, 0.5); /* Somente um realce de foco opcional */
}


button:hover{
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
button:active{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

